body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
header {
  text-align: center;
  flex: 0 30px;
  background: hsla(208, 26%, 50%, 1);
}

footer {
  flex: 0 30px;
  background: hsl(180, 10%, 10%);
  color: white;
}

.settingsContainer a:link, .settingsContainer a:visited {
  background-color: transparent;
  color: black;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.settingsContainer a:active {
  background-color: darkGray;
}

.settingsContainer a:hover {
  background-color: gray;
  color: white;
}

footer a:link, footer a:visited {
  background-color: #f44336;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer a:hover {
  background-color: red;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.settingsContainer {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items:center;
  background-color: hsl(180, 10%, 80%);
}
.settings {
  text-align: center;
  align-items:center;
  padding: 30px;
}
.content {
  background-color: white;
  flex: 9;
}
@media (orientation: portrait) {
  main {
    flex-direction: row;
  }
  .settingsContainer {
    flex-direction: column;
  }
  .settings {
    font-size: 15px;
    align-items: center;
    text-align: center;
  }
}

@media (max-height: 700px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
.container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 1em;
  margin-right: 1em;
  grid-auto-rows: 300px;
  grid-gap: 1em;
  display: grid;
  text-align: center;
}

.box {
  border: solid;
  background-color: #feff9c;
  padding: 75px;
  cursor: move;
}

.content h2 {
  text-align: center;
}

.contentTable  > * {
  margin-left: 10px;
  text-align: left;
}